header
{
    display: flex;
}
nav a
{
    text-decoration: none;
    justify-content: space-around;
}
div img
{
    float: left;
}
footer
{
    border: black 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.reseauxsociaux
{
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both;
}
.column
{
    display: flex;
}
.image
{
    margin-top: 20px;
    margin-right: 15px;
}
.boite_droite
{
    border: black 2px solid;
    float: right;
}