* {
    padding:0;
    margin:0
}
header
{
    display: flex;
    padding:25px;
    background-color: #e9e9e9;
}
header img{
    margin-right:25px
}
nav {
    background: #000;
}
nav ul {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav li {
    text-decoration: none;
    padding:16px 70px;
    transition-property: background-color;
    transition-duration: 0.4s;
}
nav li:hover {
    background-color: #1f1f1f
}
nav li a {
    color:#fff;
    text-decoration: none;
}
div img
{
    float: left;
    width: 40px;
    height: 40px;
}
footer
{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #e9e9e9;
    border-top: 1px solid #000;
}
.reseauxsociaux
{
    margin-top:30px;
    display: flex;
    justify-content: center;
    clear: both;
}
.reseauxsociaux a:first-child
{
    margin-right:20px
}
.liens-rapides{
    text-align:center
}
.liens-rapides li {
    text-decoration: none;
    list-style: none;
    line-height: 25px;
}
.liens-rapides li a {
    text-decoration: none;
}
.copyright {
    margin-top: 20px
}
.contact-footer p:first-child{
    margin-bottom:15px
}
.contact-footer p:first-child a{
    text-decoration: none;
}
.contact-footer p:not(:first-child){
    line-height: 25px;
}
.blog_left img
{
    display: flex;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
.blog_right img
{

    display: flex;
    float: right;
    margin-left: 15px;
    margin-top: 5px;
}
.blog_right h2
{
    margin-top: 15px;
}
.blog_left h2
{
    margin-top: 15px;
}
.blog_right p, .blog_left p
{
    text-align: justify;
}
form 
{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article
{
    column-count: 2;

}
.image 
{
    float: left;
    padding-top: 5px;
    margin-right: 15px;
}